@media(max-width: 900px)
{
    body
    {
        margin: 0;
        background: rgb(243, 242, 242);
        height: 100%;
        width: 100%;
    }

    .mP
    {
        font-family: 'Noto Serif', serif;
        color: rgb(17, 23, 39);
    }

    .mF
    {
        font-family: 'Noto Serif', serif;
        color: rgb(17, 23, 39);
    }


    button
    {
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        border: 2px solid rgb(24, 32, 53);
        cursor:pointer;
        color: #f2f2f2;
        font-family: 'Bitter', serif;
        font-size: 15px;
        text-decoration:none;
        background: rgb(24, 32, 53);
        margin-left: 35px;
        padding: 5px 0;
        width: 100px;
    }

    .cartSize
    {
        fill: #fff;
        height: 20px;
        width: 20px;
        margin-left: 10px;
        margin-top: 2px;
    }

    #starter
    {
        font-family: 'Acme', san-serif;
        color: #f05a28;
        text-align: center;
        text-decoration: underline;
    }

    .menuImgs
    {
        width: 100px;
        height: 100px;
        margin-top: 50px;
        margin-left: 25px;
    }

    .One
    {
        background: #fff;
        -moz-border-radius: 28px;
        -webkit-border-radius: 28px;
        border-radius: 28px;
        width: 150px;
        height: 320px;
        margin-left: 30px;
    }

    .Two
    {
        background: #fff;
        -moz-border-radius: 28px;
        -webkit-border-radius: 28px;
        border-radius: 28px;
        width: 150px;
        height: 320px;
        margin-left: 20px;
        margin-top: 50px;

    }

    #divisions
    {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 25px;
    }

    button
    {
        margin-left: 25px;
    }

    h4
    {
        margin-left: 25px;
    }

    .footerIcons
    {
        height: 40px;
        width: 40px;    
        fill: #181818;
    }

    #footer
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background: #fff;
        width: 100%;
        cursor: pointer;
        padding: 10px 0;   
        position: sticky;  
        bottom: 0;  
        
    }

    .ftFixed
    {
        margin-left: 15px;
    }

    .iconTxt
    {
        color: #181818;
        font-family: 'Roboto', sans-serif;
    }


    .iconTxtC
    {
        margin-left: 10px;
        color: #181818;
        font-family: 'Roboto', sans-serif;
    }


    .iconTxtH
    {
        color: #f05a28;
        font-family: 'Roboto', sans-serif;
    }

    .homeIcon
    {
        height: 40px;
        width: 40px;
        fill: #f05a28;
    }
}