@media(max-width: 900px)
{
    body
    {
        width: 100%;
        height: 100%;
        background: #222;
        margin: 0;
    }

    h1
    {
        margin-top: 10%;
    }

    .footerIcons
    {
        height: 40px;
        width: 40px;
        fill: #fff;  
    }

    .footerIconRest
    {
        height: 40px;
        width: 40px;
        fill: #ffffff;
        
    }

    #footer
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background: #181818;
        width: 100%;
        cursor: pointer;
        padding: 10px 0;   
        position: sticky;  
        top: 0;  
        
    }

    button
    {
        color: #fff;
        background: linear-gradient(to right,#f05a28 0,#e80a89 100%);
        font-size: 14px;
        min-width: 150px;
        padding: 12px 25px 11px;
        border: none;
        width: 100%;
    }

    
    .footerIcons
    {
        height: 40px;
        width: 40px;    
        fill: #fff;
    }

    .footerIconCart
    {
        height: 40px;
        width: 40px;    
        fill: #f05a28;
    }

    .ftFixed
    {
        margin-left: 15px;
    }

    .iconTxt
    {
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }


    .iconTxtC
    {
        margin-left: 10px;
        color: #f05a28;
        font-family: 'Roboto', sans-serif;
    }


    .iconTxtH
    {
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }

    .homeIcon
    {
        height: 40px;
        width: 40px;
        fill: #fff;
    }

    #cartH
    {
        color: #fff;
        font-family: 'Bitter', serif;
    }

    #cartItems
  {
    display: grid;
    grid-template-columns: 50% 30%;
    margin-left: 10%;
    color: #f05a28;
    font-family: 'Bitter', serif;
    font-size: 20px;
  }

}