@media(min-width: 900px)
{
    body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        background:  rgb(247, 245, 245);
    }

    #logo
    {
        background-image: url('../images/pizza.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 35vh;
        background-position: bottom center;
    }

    .logoTxt
    {
        margin-top: 0%;
        color: #FEA735;
        font-size: 35px;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        font-family: 'Pacifico', cursive;
        
    }

    #kfcMenuIcon
    {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        height: 50px;
        width: 50px;
        cursor: pointer;
        fill: rgb(17, 23, 39);
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px;
        background: #FEA735;
        margin-top: 10px;
    

    }

    #kfcMenuIcon:hover
    {
        fill: #fff;
    }

    #allHeaders
    {
        display: grid;
        grid-template-columns: 90% 10%;
    }

    .hours
    {
        margin-left: 80%;
        margin-top: 70px;
        font-family: 'Acme', sans-serif;
        background: #F5EBAF;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 45px;
        padding-right: 10px;
        width: 150px;
        color: rgb(17, 23, 39);
    }

    .hoursHeader
    {
        text-decoration: underline;
    }

    #search
    {
        margin-top: 70px;
        margin-left: 30%;
        display: grid;
        grid-template-columns: 40% 10%;
    }

    #searchFor
    {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        color: #f2f2f2;
        background-color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        padding: 8px 16px;
        width: 350px;
        -moz-box-shadow: -2px -2px 21px -10px rgb(34, 33, 31), 1px 2px 21px 1px rgb(34, 33, 31);
        -webkit-box-shadow: -2px -2px 21px -10px rgb(34, 33, 31), 1px 2px 21px 1px rgb(34, 33, 31);
        box-shadow: -2px -2px 21px -10px rgb(34, 33, 31), 1px 2px 21px 1px rgb(34, 33, 31);
    }

    #searchIcon
    {
        height: 20px;
        width: 20px;
        fill: #f2f2f2;
    }

    .searchBtn
    {
        border: 2px solid rgb(24, 32, 53);
        cursor: pointer;
        color: #f2f2f2;
        font-family: 'Bitter', serif;
        text-decoration: none;
        background: rgb(24, 32, 53);
        -moz-box-shadow: -2px -2px 21px -10px rgb(34, 33, 31), 1px 2px 21px 1px rgb(34, 33, 31);
        -webkit-box-shadow: -2px -2px 21px -10px rgb(34, 33, 31), 1px 2px 21px 1px rgb(34, 33, 31);
        box-shadow: -2px -2px 21px -10px rgb(34, 33, 31), 1px 2px 21px 1px rgb(34, 33, 31);
        
    }

    .foodOrder
    {
        border: 2px solid rgb(24, 32, 53);
        cursor:pointer;
        color: rgb(24, 32, 53);
        font-family: 'Bitter', serif;
        font-size: 20px;
        padding: 16px 60px;
        text-decoration:none;
        background-color: rgb(247, 245, 245);
        width: 285px;
    }

    .foodOrder:hover
    {
        border: 2px solid #FE7235;
        background: #FE7235;
        color: #fff;
    }

    .foodsSize
    {
        width: 285px;
        height: 146.5px;
    }

    .theFoods
    {
        margin-left: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 50px;
    }

    .orderNames
    {
        text-decoration: underline;
        align-items: center;
        font-family: 'Noto Serif', serif;
        color: rgb(17, 23, 39);
    }
    
    #theRealMenu
    {
        display: grid;
        grid-template-columns: 20% 70% 10%;
        background: #F5EBAF;
        width: 100%;
        height: 100vh;
    }

    #realMenuHeader
    {
        color: #FEA735;
        font-size: 30px;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        font-family: 'Pacifico', cursive;
        margin-left: 25px;
        margin-top: 25px;
    }

    #realMenuTags
    {
        margin-left: 150px;
        margin-top: 150px;

    }

    .realMenuTagText
    {
        font-family: 'Acme', sans-serif;
        color: rgb(17, 23, 39);
        font-size: 50px;
    }

    .realMenuTagText:hover
    {
        color: #FEA735;
        cursor: pointer;
        text-decoration: underline;
    }

    #realMenuClear
    {
        margin-top: 70px;
        height: 50px;
        width: 50px;
        fill: #fff;
        cursor: pointer;
        background: #FE7235;
        -moz-border-radius: 38px;
        -webkit-border-radius: 38px;
        border-radius: 38px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #realMenuClear:hover
    {
        fill: rgb(17, 23, 39);
    }

    a
    {
        text-decoration: none;
    }
}